<main class="main">
  <div class="conteiner-fluid">

    <header class="header" id="header">
      <!-- <nav class="nav container">


        <a href="#" class="nav__logo">ArgentinaPrograma</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
            <li class="nav__item">
              <a href="#home" class="nav__link">
                <i class="uil uil-home nav__icon"></i> Home
              </a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">
                <i class="uil uil-user nav__icon"></i> Acerca De
              </a>
            </li>
            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="uil uil-file-alt nav__icon"></i> Skills
              </a>
            </li>
            <li class="nav__item">
              <a href="#formacion" class="nav__link">
                <i class="uil uil-briefcase nav__icon"></i> Formación
              </a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">
                <i class="uil uil-message nav__icon"></i> Contactame
              </a>
            </li>
          </ul>
          <i class="uil uil-times nav__close" id="nav__close"></i>
        </div>

        <div class="nav__btns">
          <div class="nav__toggle" id="nav__toggle">
            <i class="uil uil-apps"></i>
          </div>
        </div>
      </nav> -->


      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="./assets/APLogo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            AP</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto nav__list grid mb-2 mb-lg-0">
              <li class="nav__item">
                <a href="#home" class="nav__link">
                  <i class="uil uil-home nav__icon"></i> Home
                </a>
              </li>
              <li class="nav__item">
                <a href="#about" class="nav__link">
                  <i class="uil uil-user nav__icon"></i> Acerca De
                </a>
              </li>
              <li class="nav__item">
                <a href="#skills" class="nav__link">
                  <i class="uil uil-file-alt nav__icon"></i> Skills
                </a>
              </li>
              <li class="nav__item">
                <a href="#formacion" class="nav__link">
                  <i class="uil uil-briefcase nav__icon"></i> Formación
                </a>
              </li>
              <li>
                <a href="#contact" class="nav__link">
                  <i class="uil uil-message nav__icon"></i> Contactame
                </a>
              </li>
            </ul>
            <span class="navbar-text">
              Navbar text with an inline element
            </span>

          </div>
        </div>
